footer {
    height: 30px;
    width: 100%;
    text-align: center;
    background-color: #888888;
}
.links {
    height: 100%;
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.links *, .links a:hover{
    color: black;
}

.links li{
    display: flex;
    padding: 0 10px;
}
