.ShortenContainerVanilla > * {
    box-sizing: border-box;
}

.ShortenInputLineVanilla {
    height: 40px;
    width: 100%;
    display: flex;
}

.ShortenInputVanilla {
    height: 40px;
    font-size: 16pt;
    border: 1px solid darkgray;
    padding: 0 10px;
    border-radius: 15px 0  0 15px;
    -moz-border-radius: 15px 0 0 15px;
    flex: 1;
    min-width: 100px;
}

.ShortenButtonVanilla {
    height: 40px;
    display: block;
    float: right;
    border: 1px solid darkgray;
    border-radius: 0 15px 15px 0;
    font-variant-caps: all-small-caps;
    font-weight: bold;
}

@media only screen and (max-width: 320px) {
    .ShortenInputLineVanilla {
        height: 30px;
        width: 100%;
        display: flex;
    }

    .ShortenInputVanilla {
        height: 30px;
        font-size: 12pt;
        border: 1px solid darkgray;
        padding: 0 10px;
        border-radius: 15px 0  0 15px;
        -moz-border-radius: 15px 0 0 15px;
        flex: 1;
        min-width: 100px;
    }

    .ShortenButtonVanilla {
        height: 30px;
        display: block;
        float: right;
        border: 1px solid darkgray;
        border-radius: 0 15px 15px 0;
        font-variant-caps: all-small-caps;
        font-weight: bold;
    }

    .ShortenOptionsTableVanilla {
        font-size: 70%;
    }
}

.ShortenOptionsVanilla {
}

.ShortenOptionsTableVanilla {
    width: 90%;
    background-color: white;
    color: black;
    border: 1px solid darkgray;
    border-top: 0;
    border-spacing: 0;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
    font-size: 90%;
    border-collapse: separate;
}

.ShortenOptionsTableVanilla th {
    color: #888888;
    text-decoration-line: underline;
    padding-left: 8px;
}

.ShortenOptionsTableVanilla td label {
    display: block;
}
.ShortenOptionsTableVanilla tbody td {
    text-align: left;
    vertical-align: top;
    padding-left: 20px;
    padding-bottom: 15px;
}

.ShortenOptionsTableVanilla td input:disabled+span {
    color: #aaa;
}
.ShortenOptionsTableVanilla thead {
    background-color: rgba(255,0,0,0.3);
    text-align: center;
    height: 25px;
    font-weight: bold;

}
.ShortenOptionsTableVanilla tfoot td {
    padding-left: 20px;
}
.ShortenOptionsTableVanilla tfoot {
    color: #aaa;
}
.ShortenOptionsTableVanilla td input:disabled+span:after {
    content: "*";
}
