.logo {
    height: 36px;
}

.provider-logo {
    width: 18px;
    height: 18px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin-left: -12px;
    margin-bottom: -18px;
}